.gesprek {
  position: relative;
  padding:0;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}
.gesprek .tekst {
  display: block;
  background: white;
  border: none;
  border-radius: 2vw;
  padding: 2vw;
  margin:0 10px;
  color: #090;
  min-height: 100px;
  font-size: var(--font-size-regular);
  font-weight: bold;
}
.gesprek .avatar-container {
  flex-grow: 1;
  position: relative;
}
.gesprek .avatar {
  position: absolute;
  bottom: -100px;
  height: var(--v24);
  width: var(--v24);
  border: solid 1px #009;
  border-radius: 4px;
  font-size: var(--font-size-small);
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}
.gesprek .avatar.links {
  left: var(--v1);
}
.gesprek .avatar.rechts {
  right: var(--v1);
}
.gesprek .tekst.links {
  margin-left: var(--v26);
}
.gesprek .tekst.rechts {
  margin-right: var(--v26);
}

.gesprek .volgende-knop {
  background: green;
  color: white;
  border-radius: var(--padding);
  padding: var(--padding);
  margin: 5% auto;
}
.gesprek .antwoord:before {
  content: ' ';
  display: block;
  height: 2px;
  width: 100%;
}
.gesprek .antwoord {
  display: block;
  background: lightseagreen;
  color: white;
  border: solid 1px darkseagreen;
  border-radius: var(--padding-small);
  padding: var(--padding-small);
  margin: var(--v1);
  font-size: var(--font-size-regular);
}

.in-gevecht #bovenbalk { 
  display: none;
}