.inv-lijst:after {
  clear: both;
  content: ' ';
  display: block;
  width: 100%;
  height: 1px;
}

.inv-blok {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 10px;
  border: solid 2px white;
  float: left;
  position: relative;
}

.inv-blok > .inv-icoon {
  margin: 2vw auto;
  width: 90%;
  height: 90%;
}

.inv-blok > .inv-naam {
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 0;
  background: maroon;
  color: white;
  padding: 2vw;
  font-size: 3vw;
  box-sizing: border-box;
  text-align: center;
  border-top-left-radius:4vw;
  border-top-right-radius:4vw;
}

.inv-blok > .inv-teller {
  position: absolute;
  top: 2px;
  right: 2px;
  border-radius: 100px;
  background: maroon;
  color: white;
  padding: 1vw;  
  font-size: 2vw;
}
