.inv-lijst:after {
  clear: both;
  content: ' ';
  display: block;
  width: 100%;
  height: 1px;
}

.inv-blok {
  background: white;
  width: var(--v24);
  height: var(--v24);
  position: relative;
  margin: var(--v1);
  border: solid 2px white;
  box-model: border-box;
  float: left;
  position: relative;
  border-radius: var(--padding);
}

.inv-blok > .inv-icoon {
  margin: 10%;
  width: 80%;
  height: 80%;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.inv-blok > .inv-naam {
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 0;
  background: maroon;
  color: white;
  padding: var(--padding-small);
  font-size: var(--font-size-small);
  box-sizing: border-box;
  text-align: center;
  border-radius: var(--padding);
  border-top-left-radius:var(--padding-large);
  border-top-right-radius:var(--padding-large);
}

.inv-blok > .inv-teller {
  position: absolute;
  top: 2px;
  right: 2px;
  border-radius: 100px;
  background: maroon;
  color: white;
  padding: var(--padding-small);  
  font-size: var(--font-size-tiny);
}
