.karakter-lijst {
	overflow: auto;
}

.karakter-lijst:after {
	clear: both;
	content: ' ';
	display: block;
	width: 100%;
	height: 1px;
}

.karakter-lijst .karakter {
	display: block;
	border-radius: 2vw;
	border: solid 1px maroon;
	margin: 2vw 1vw;
	padding: 2vw;	
	background: navajowhite;
	position: relative;
}
.karakter-lijst .karakter-plaatje {
	width: 25%;
	float: left;
	border: solid 1px maroon;
	border-radius: 2vw;
	margin-right: 5%;
}
.karakter-lijst .karakter-naam {
	font-size: 4vw;
}
.karakter-lijst .karakter-level {
	position: absolute;
	top: 2vw;
	right: 2vw;
	font-size: 2vw;
	font-weight: bold;
}

/* Detail pagina */

.karakter-details {
	margin: 0 5%;
	position: relative;
}
.karakter-details .karakter-logo {
	height: calc(6 * var(--font-size-regular));
	width: calc(6 * var(--font-size-regular));
	border: solid 1px gold;
}
.karakter-details .karakter-naam {
	position: absolute;
	left:  calc(6 * var(--font-size-regular));
	padding-left:  var(--padding);
	top:  calc(0 * var(--font-size-regular));
}
.karakter-details .karakter-personage {
	position: absolute;
	left:  calc(6 * var(--font-size-regular));
	padding-left:  var(--padding);
	top:  calc(1 * var(--font-size-regular));
}
.karakter-details .karakter-level {
	position: absolute;
	left:  calc(6 * var(--font-size-regular));
	padding-left:  var(--padding);
	top:  calc(2 * var(--font-size-regular));
}
.karakter-details .karakter-energiepunten {
	position: absolute;
	left:  calc(6 * var(--font-size-regular));
	padding-left:  var(--padding);
	top:  calc(3 * var(--font-size-regular));
}
.karakter-details .karakter-stats {
	position: absolute;
	left: 50%;
	width: 50%;
	top: 0;
	font-size: var(--font-size-regular);
}
.karakter-details .karakter-stats td {
	padding: 0 var(--padding-small) 0 0;
	text-align: left;
	color:  gold;
	font-weight:  bold;
	font-size:  var(--font-size-regular);
}
.karakter-details .karakter-stats th {
	padding: 0 var(--padding-small) 0 0;
	text-align: right;
	color:  gold;
	font-weight:  normal;
	font-size:  var(--font-size-small);
}
.karakter-details .karakter-skills {
	padding-top: var(--padding);
	padding-left: calc(var(--padding) + (6 * var(--font-size-regular)));
}
.karakter-details .skill {
	display: block;
	font-size: var(--font-size-small);
	margin-bottom:  var(--margin-large);
	border:  solid 1px gold;
	color: gold;
	background: dimgrey;
	border-radius: var(--padding-small);
	padding:  var(--padding-small);
	position: relative;
}
.karakter-details .skill-energie {
	position: absolute;
	top: var(--padding-small);
	right: var(--padding-small);
	font-size: var(--font-size-small);
	color: gold;
}
.karakter-details .skill-omschrijving {
	font-size: var(--font-size-tiny);
	font-style: italic;
}
.karakter-details .karakter-logo img {
	height:  100%;
	width:  100%;
}