.nieuws-items .nieuws-item {
	background: navajowhite;
	border: solid 1px maroon;
	padding: var(--padding-small);
	font-size: var(--font-size-small);
	border-radius: var(--padding-small);
	margin: var(--margin);
}
.nieuws-item h2 {
	font-size: var(--font-size-regular);
	font-weight: bold;
}
.nieuws-item .leesmeer-knop {
	font-size: inherit;
	background: transparent;
	border: none;
	text-decoration: underline;
	color: maroon;
}