.poppetje {
  background-image: url('plaatje.png');
}
.grumble {
  background-image: url('poppetje1.png');
}
.grizzly {
  background-image: url('plaatje2.png');
}
.beestje {
  background-image: url('beest.png');
}
.greta {
  background-image: url('greta.png');
}
.koe {
  background-image: url('gekkekoe.png');
}
